In [1]:
# Import Libraries and Dependencies
import pandas as pd

### 1. Combine and Clean the Data
#### Import CSVs

In [2]:
# Read the CSV files into DataFrames.
sales_2020_df = pd.read_csv("Resources/athletic_sales_2020.csv")
sales_2021_df = pd.read_csv("Resources/athletic_sales_2021.csv")

In [3]:
# Adding a "year" column
# Display the 2020 sales DataFrame
sales_2020_df["sales_year"] = 2020
print(sales_2020_df)

         retailer  retailer_id invoice_date     region         state  \
0     Foot Locker      1185732       1/1/20  Northeast      New York
1     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3     Foot Locker      1185732       1/1/20  Northeast      New York
4     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
1292    West Gear      1128299     12/30/20       West    California
1293    West Gear      1128299     12/30/20       West    California
1294       Kohl's      1189833     12/30/20    Midwest     Minnesota
1295       Kohl's      1189833     12/30/20    Midwest     Minnesota
1296    West Gear      1128299     12/30/20       West    California

               city                  product  price_per_unit  units_sold  \
0          New York    Men's Street Footwear              50        1200
1      Philadelphia          Women's Apparel              68          83
2      Philadelphia          Women's Apparel              75         275
3          New York    Men's Street Footwear              34         384
4      Philadelphia          Women's Apparel              53          83
...             ...                      ...             ...         ...
1292  San Francisco          Women's Apparel              72         203
1293  San Francisco          Women's Apparel              80         700
1294    Minneapolis  Women's Street Footwear              41         119
1295    Minneapolis  Women's Street Footwear              45         475
1296  San Francisco          Women's Apparel              62         245

      total_sales  operating_profit sales_method  sales_year
0          600000         300000.00     In-store        2020
1            5644           2426.92       Online        2020
2          206250          61875.00       Outlet        2020
3           13056           6789.12       Outlet        2020
4            4399           1407.68       Outlet        2020
...           ...               ...          ...         ...
1292        14616           3946.32       Online        2020
1293       560000          84000.00       Outlet        2020
1294         4879           2878.61       Online        2020
1295       213750          96187.50       Outlet        2020
1296        15190           2886.10       Outlet        2020

[1297 rows x 13 columns]

In [4]:
# Adding a "year" column
# Display the 2021 sales DataFrame
sales_2021_df["sales_year"] = 2021
print(sales_2021_df)

         retailer  retailer_id invoice_date     region         state  \
0       West Gear      1128299       1/1/21       West    California
1       West Gear      1128299       1/1/21       West    California
2          Kohl's      1189833       1/1/21    Midwest       Montana
3          Kohl's      1189833       1/1/21    Midwest       Montana
4       West Gear      1128299       1/1/21       West    California
...           ...          ...          ...        ...           ...
8341  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
8342  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
8343       Amazon      1185732     12/31/21  Northeast         Maine
8344       Amazon      1185732     12/31/21  Northeast         Maine
8345  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania

               city                  product  price_per_unit  units_sold  \
0     San Francisco  Men's Athletic Footwear              65         750
1     San Francisco  Men's Athletic Footwear              51         233
2          Billings            Men's Apparel              50         275
3          Billings            Men's Apparel              47          77
4     San Francisco  Men's Athletic Footwear              64         225
...             ...                      ...             ...         ...
8341   Philadelphia            Men's Apparel              63          47
8342   Philadelphia            Men's Apparel              46          56
8343       Portland            Men's Apparel              52          36
8344       Portland            Men's Apparel              55         125
8345   Philadelphia            Men's Apparel              70         175

      total_sales  operating_profit sales_method  sales_year
0          487500         121875.00       Outlet        2021
1           11883           3208.41       Outlet        2021
2          137500          82500.00       Outlet        2021
3            3619           2714.25       Online        2021
4           14400           5184.00       Online        2021
...           ...               ...          ...         ...
8341         2961           1362.06       Online        2021
8342         2576           1004.64       Outlet        2021
8343         1872            692.64       Online        2021
8344        68750          17187.50       Outlet        2021
8345       122500          42875.00       Outlet        2021

[8346 rows x 13 columns]

#### Check the data types of each DataFrame

In [5]:
# Check the 2020 sales data types.
print(sales_2020_df.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
sales_year            int64
dtype: object

In [6]:
# Check the 2021 sales data types.
print(sales_2021_df.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
sales_year            int64
dtype: object

#### Combine the sales data by rows.

In [7]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.
combined_sales_df = pd.concat([sales_2020_df, sales_2021_df], ignore_index=True)
# combined_sales_df.reset_index(drop=True, inplace=True)
combined_sales_df

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method,sales_year
0,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000.00,In-store,2020
1,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,68,83,5644,2426.92,Online,2020
2,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75,275,206250,61875.00,Outlet,2020
3,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,34,384,13056,6789.12,Outlet,2020
4,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53,83,4399,1407.68,Outlet,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9638,Foot Locker,1185732,12/31/21,Northeast,Pennsylvania,Philadelphia,Men's Apparel,63,47,2961,1362.06,Online,2021
9639,Foot Locker,1185732,12/31/21,Northeast,Pennsylvania,Philadelphia,Men's Apparel,46,56,2576,1004.64,Outlet,2021
9640,Amazon,1185732,12/31/21,Northeast,Maine,Portland,Men's Apparel,52,36,1872,692.64,Online,2021
9641,Amazon,1185732,12/31/21,Northeast,Maine,Portland,Men's Apparel,55,125,68750,17187.50,Outlet,2021
9642,Foot Locker,1185732,12/31/21,Northeast,Pennsylvania,Philadelphia,Men's Apparel,70,175,122500,42875.00,Outlet,2021

In [8]:
# Check if any values are null.
nulls = combined_sales_df.isnull().sum()
print(nulls)

retailer            0
retailer_id         0
invoice_date        0
region              0
state               0
city                0
product             0
price_per_unit      0
units_sold          0
total_sales         0
operating_profit    0
sales_method        0
sales_year          0
dtype: int64

In [9]:
# Check the data type of each column
print(combined_sales_df.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
sales_year            int64
dtype: object

In [10]:
# Convert the "invoice_date" to a datetime datatype
combined_sales_df["invoice_date"] = pd.to_datetime(combined_sales_df["invoice_date"], format="%m/%d/%y")
print(combined_sales_df["invoice_date"])

0      2020-01-01
1      2020-01-01
2      2020-01-01
3      2020-01-01
4      2020-01-01
          ...
9638   2021-12-31
9639   2021-12-31
9640   2021-12-31
9641   2021-12-31
9642   2021-12-31
Name: invoice_date, Length: 9643, dtype: datetime64[ns]

In [11]:
# Confirm that the "invoice_date" data type has been changed.
print(combined_sales_df.dtypes)

retailer                    object
retailer_id                  int64
invoice_date        datetime64[ns]
region                      object
state                       object
city                        object
product                     object
price_per_unit               int64
units_sold                   int64
total_sales                  int64
operating_profit           float64
sales_method                object
sales_year                   int64
dtype: object

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [12]:
# Show the number of products sold for region, state, and city.
# Rename the sum to "Total_Products_Sold".
combined_sales_df.rename(columns={"units_sold": "Total_Products_Sold"}, inplace=True)
grouped_combined_sales = combined_sales_df.groupby(["region", "state", "city"])["Total_Products_Sold"].sum()
region_sales = combined_sales_df.groupby(["region"])["Total_Products_Sold"].sum()
state_sales = combined_sales_df.groupby(["state"])["Total_Products_Sold"].sum()
city_sales = combined_sales_df.groupby(["city"])["Total_Products_Sold"].sum()

# Show the top 5 results.
print(grouped_combined_sales.sort_values(ascending=False).head())
print()
print(region_sales.sort_values(ascending=False))
print()
print(state_sales.sort_values(ascending=False).head())
print()
print(city_sales.sort_values(ascending=False).head())

region     state       city
Northeast  New York    New York         111954
South      Texas       Houston           90322
West       California  San Francisco     85478
                       Los Angeles       76384
Southeast  Florida     Miami             73135
Name: Total_Products_Sold, dtype: int64

region
West         685563
Northeast    501279
South        492260
Southeast    407000
Midwest      390914
Name: Total_Products_Sold, dtype: int64

state
New York          169140
California        161862
Texas             159500
Florida           133430
South Carolina     72610
Name: Total_Products_Sold, dtype: int64

city
New York         111954
Charleston       102483
Houston           90322
San Francisco     85478
Los Angeles       76384
Name: Total_Products_Sold, dtype: int64

#### Using `pivot_table`

In [13]:
# Show the number products sold for region, state, and city.
pt_combined_sales_df = pd.pivot_table(combined_sales_df, values="Total_Products_Sold", index=["region","state","city"], aggfunc="sum")

# Rename the "units_sold" column to "Total_Products_Sold"
    # This was already done in the previous process.
# Show the top 5 results.
print(pt_combined_sales_df.sort_values("Total_Products_Sold", ascending=False).head())

                                    Total_Products_Sold
region    state      city
Northeast New York   New York                    111954
South     Texas      Houston                      90322
West      California San Francisco                85478
                     Los Angeles                  76384
Southeast Florida    Miami                        73135

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [14]:
# Show the total sales for the products sold for each region, state, and city.
# Rename the "total_sales" column to "Total Sales"
grouped_product_sales = combined_sales_df.groupby(["region", "state", "city"])["total_sales"].sum()
grouped_product_sales.rename("Total Sales", inplace=True)
# Show the top 5 results.
print(grouped_product_sales.sort_values(ascending=False).head())

region     state           city
Northeast  New York        New York         39801235
West       California      San Francisco    33973228
Southeast  Florida         Miami            31600863
           South Carolina  Charleston       29285637
           Florida         Orlando          27682851
Name: Total Sales, dtype: int64

#### Using `pivot_table`

In [15]:
# Show the total sales for the products sold for each region, state, and city.
pt_product_sales_df = pd.pivot_table(combined_sales_df, values="total_sales", index=["region","state","city"], aggfunc="sum")
# Optional: Rename the "total_sales" column to "Total Sales"
pt_product_sales_df.rename(columns={"total_sales": "Total Sales"}, inplace=True)
# Show the top 5 results.
print(pt_product_sales_df.sort_values("Total Sales", ascending=False).head())

                                        Total Sales
region    state          city
Northeast New York       New York          39801235
West      California     San Francisco     33973228
Southeast Florida        Miami             31600863
          South Carolina Charleston        29285637
          Florida        Orlando           27682851

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [16]:
# Show the total sales for the products sold for each retailer, region, state, and city.
retail_product_sales = combined_sales_df.groupby(["retailer", "region", "state", "city"])["total_sales"].sum()
# Rename the "total_sales" column to "Total Sales"
retail_product_sales.rename("Total Sales", inplace=True)
# Show the top 5 results.
print(retail_product_sales.sort_values(ascending=False).head())

retailer     region     state           city
West Gear    West       California      San Francisco    32794405
Kohl's       West       California      Los Angeles      25127160
Foot Locker  Northeast  New York        New York         25008568
West Gear    West       Washington      Seattle          24862675
Foot Locker  Southeast  South Carolina  Charleston       24822280
Name: Total Sales, dtype: int64

#### Using `pivot_table`

In [17]:
# Show the total sales for the products sold for each retailer, region, state, and city.
pt_retail_sales_df = pd.pivot_table(combined_sales_df, values="total_sales", index=["retailer", "region","state","city"], aggfunc="sum")
# Optional: Rename the "total_sales" column to "Total Sales"
pt_retail_sales_df.rename(columns={"total_sales": "Total Sales"}, inplace=True)
# Show the top 5 results.
print(pt_retail_sales_df.sort_values("Total Sales", ascending=False).head())

                                                    Total Sales
retailer    region    state          city
West Gear   West      California     San Francisco     32794405
Kohl's      West      California     Los Angeles       25127160
Foot Locker Northeast New York       New York          25008568
West Gear   West      Washington     Seattle           24862675
Foot Locker Southeast South Carolina Charleston        24822280

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [18]:
# Filter the sales data to get the women's athletic footwear sales data.
filtered_sales_df = combined_sales_df[(combined_sales_df["product"] == "Women's Athletic Footwear")]
pt_filtered_sales_df = pd.pivot_table(filtered_sales_df, values="Total_Products_Sold", index=["retailer", "region","state","city"], aggfunc="sum")
# print(pt_filtered_sales_df)
print(pt_filtered_sales_df.sort_values("Total_Products_Sold", ascending=False)) #.head())

                                                      Total_Products_Sold
retailer      region    state          city
West Gear     West      California     San Francisco                12107
Foot Locker   Northeast New York       New York                     10996
Kohl's        West      California     Los Angeles                  10826
Foot Locker   Southeast South Carolina Charleston                    8814
Sports Direct South     Texas          Dallas                        8790
...                                                                   ...
Foot Locker   West      Alaska         Anchorage                      281
                        California     Los Angeles                    200
Amazon        South     Alabama        Birmingham                     158
Foot Locker   South     Texas          Dallas                         117
                        Tennessee      Knoxville                      117

[108 rows x 1 columns]

#### Using `groupby`

In [19]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
pt_filtered_sales_df.rename(columns={"Total_Products_Sold": "Womens_Footware_Units_Sold"}, inplace=True)
# Show the top 5 results.
print(pt_filtered_sales_df.sort_values("Womens_Footware_Units_Sold", ascending=False).head())

                                                      Womens_Footware_Units_Sold
retailer      region    state          city
West Gear     West      California     San Francisco                       12107
Foot Locker   Northeast New York       New York                            10996
Kohl's        West      California     Los Angeles                         10826
Foot Locker   Southeast South Carolina Charleston                           8814
Sports Direct South     Texas          Dallas                               8790

#### Using `pivot_table`

In [20]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
    # see above
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
# Show the top 5 results.
    # see above

### 5. Determine the Day with the Most Women's Athletic Footwear Sales

In [21]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.
pt_invoice_date = pd.pivot_table(filtered_sales_df, values="total_sales", index=["invoice_date"], aggfunc="sum")
# Optional: Rename the "total_sales" column to "Total Sales"
pt_invoice_date.rename(columns={"total_sales": "Total Sales"}, inplace=True)
# Show the table.
print(pt_invoice_date.sort_values("Total Sales", ascending=False))

              Total Sales
invoice_date
2021-07-16        1521825
2021-12-16        1473497
2021-06-17        1376988
2021-08-17        1086294
2021-07-23        1021806
...                   ...
2021-02-03          19210
2021-10-27          17916
2021-05-30          15406
2020-11-07           8974
2020-11-01           8974

[355 rows x 1 columns]

In [22]:
# Resample the pivot table into daily bins, and get the total sales for each day.
daily_sample_df = pt_invoice_date.resample("D").sum()
# Sort the resampled pivot table in ascending order on "Total Sales".
print(daily_sample_df.sort_values("Total Sales", ascending=False).head(10))

              Total Sales
invoice_date
2021-07-16        1521825
2021-12-16        1473497
2021-06-17        1376988
2021-08-17        1086294
2021-07-23        1021806
2021-11-17        1021145
2021-12-09         915011
2021-06-24         884238
2021-07-09         869054
2021-08-10         839120

### 6.  Determine the Week with the Most Women's Athletic Footwear Sales

In [23]:
# Resample the pivot table into weekly bins, and get the total sales for each week.
weekly_sample_df = pt_invoice_date.resample("W").sum()
# Sort the resampled pivot table in ascending order on "Total Sales".
print(weekly_sample_df.sort_values("Total Sales", ascending=False).head(10))

              Total Sales
invoice_date
2021-12-19        3098970
2021-12-12        2922161
2021-07-11        2835078
2021-07-18        2801449
2021-11-14        2531721
2021-08-22        2491259
2021-08-15        2463941
2021-11-21        2449537
2021-05-16        2422132
2021-06-13        2358602

In [ ]:
# I used ChatGPT 3.5 to assist in finding solutions to some of the issues/errors I came across during this challenge.
# I also frequently compared my results to Module 5 Challenge assignment page to make sure I was getting the same results.